USE_HF_INFERENCE_API=false
HF_API_TOKEN=hf_your_token_here
HF_API_MODEL=facebook/bart-large-cnn
HF_API_TIMEOUT_SECONDS=90
HF_API_RETRIES_PER_ENDPOINT=2

# Used only when USE_HF_INFERENCE_API=false
LOCAL_MODEL=sshleifer/distilbart-cnn-12-6